.missionSpan {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.missionIcon {
  width: auto;
  height: auto;
}

.button {
  width: 100%;
  padding: 4px 8px;
  margin: 22px;
  font-size: 16px;
  background-color: #0570d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(1, 68, 139);
  }
}

.deleteButton {
  background: transparent;
  fill: red !important;
  color: red;
  height: 22px;
  width: 22px;
}
